.container{
  display:grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows:20% 80%;
  min-height: 100vh;
  gap:1rem
  

}
.sidebar{
  grid-column:1;
  grid-row:1/-1;
  background-color:rgb(74, 100, 183);
  color:white;
  font-size:2rem;
  font-weight:bold
  
}
body{
 
  font-family:system-ui;
  background-color:rgb(236, 227, 227);
  font-size:21px
}
ul {
list-style-type: none;
display:flex;
  gap:1rem;
  flex-direction: column
}
.needed{
  margin-bottom:4rem
}
.sidebar li {
  display: flex;
  align-items: center;
  gap: 3rem;
}
li img{
  width:2rem;
  padding-bottom:0;
  filter: invert(1);
}
.dashboard{
  display:flex;
  margin-bottom:4rem;
  font-size: 3rem;
  gap:1.5rem

  
}
.dashboard img{
  width:3rem;
  filter:invert(1);
  margin-left:2rem
}
.header{
  grid-column: 2/span 3;
  grid-row:1;

  background-color:rgb(240, 240, 164)
}
.top img{
  width:3rem;
  border-radius:90px;
  position:relative;
  top:20px;
  margin-right:1rem
}

.top{
  display:flex;
 margin-bottom:4rem;
 margin-top:4rem;
  align-items: center;
  justify-content: space-between;
  height:2rem;
  margin-left: 3rem
}
.info{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  margin-right:2rem;
  transform:translateY(-15%)
  
}
.top input{
  border:rgb(183, 182, 182);
  border-radius:20px;
   width: 50rem;
   padding:1rem;
   position:absolute;
   margin-left:2rem
}
.pfp img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.search{
  width:-2rem;
  position:absolute;
  left:-3%;
  transform:translateX(-50%);
  transform:translateY(-25%);
  

}
.bell{
width:.3rem;
transform:translateX(-50%);

}
.pfp{
  margin-left:1rem;
  display:flex;
  align-items:center;
  gap:1rem;
}
.pfp h6{
  margin-bottom:0
}
.pfp h3{
  margin-top:5px
}
.nav{
  display:flex;
  gap:2rem;
position:relative;
  transform:translateX(141%);
  top:1rem;
  
}
.nav button{
  padding:1rem;
  background-color:rgb(116, 216, 116);
  color:white;
  border:none;
  border-radius:89px;
  width:7rem
}
.main{
  grid-column:2;
  grid-row:2;
  display:grid;
  grid-template-columns:1fr 1fr;
  column-gap:1px;
  row-gap:1px;
  font-size:21px;
   gap:1rem
  
}
.main div{
  border-radius:10px;
  background-color:white;
  width:1fr;
  height:20rem;
  box-shadow: inset .5em 0em gold;
  padding-left:1.5rem;
  padding-right:2rem;
  padding-top:1rem;
 

}
.newest{
  grid-column:3
}
.newest > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}


 .newest p{
  margin-top:0
 }
 
 .projects-section{
  grid-column:2;
  grid-row:2;
}
.trend {
  height: auto !important;
  flex-direction: column;
  gap: 2rem;
}

.trend-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: auto !important;
}

.trend-user img{
  width:4rem;
  height:4rem;
  border-radius:50%;
  object-fit:cover;
}
.trend-user p{
  margin:5px
}